.category {
    position: relative;
    overflow: hidden;
    margin-right: 16px;
}

.category .swiper-slide {
    width: auto;
}

.category .swiper-button-disabled {
    display: none;
}

.category .swiper-button-prev {
    left: 0;
}

.category .swiper-button-prev::after {
    display: none;
}

.category .swiper-button-next {
    right: 0;
}

.category .swiper-button-next::after {
    display: none;
}